.custom-checkbox {
    .ant-checkbox-checked {
        .icon-check {
            color: royalblue;
        }
    }

    .ant-checkbox-disabled {
        opacity: .4;
    }
    .icon-check {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 6px;
        color: transparent;
        border: 1px solid #D8D8D8;
        &:before {
            position: relative;
            top: -2px;
            left: 1px;
            font-size: 10px;
        }
    }
}