.small-select-wapper {
    cursor: pointer;
}
.model-card-icon{
    display: inline-block;
    svg{
        height: 6px;
    }
}
.action-row {
    .save-row {
        height: 25px!important;
        width: 60px!important;
        background-color: #C82C1F;
        color: #FEFEFE!important;
        font-family: Vodafone;
        font-size: 14px!important;
        font-weight: bold;
        span {
            margin-left: -6px;
        }
    }
    .cancel-row {
        color: #333333;
        margin-left: 30px;
    }
    margin: 16px;
}