.modal-model-detail-wapper{

    // .model-detail-footer{
    //     height: 1px;
    //     width: 372px;
    //     border: 1px solid #F4F4F4;
    //     background-color: #E3E3E3;
    // }
    .model-detail-button-edit{
        .ant-btn.btn-general.ml-3{
            background-color: #F8F8F8;
            span{
                color:#C82C1F;
             }
        }
        .ant-btn.btn-general.ml-3:hover{
            background-color: #d5cece;
        }
    }
}
.modal-col-input-content{
  
}