.vfsm-login-page-header-wrapper{
    width: 100%;
    height: 130px;
    background-color: #F4F4F4;
    border-bottom: 1px solid #C82C1F;
    display: flex;
    justify-content: center;

    .vfsm-login-form-first-visit-title{
        height: 29px;
        width: 179px;
        color: #4B4D4E;
        font-family: Vodafone;	
        font-size: 40px;
        padding-top: 36px;                                                                                                                                              
        //font-weight: 300;
       // line-height: 35px;
    }

    .sidebar-logo{
        padding-top: 46px;
        img{
            height: 43px;
            background-color: #F4F4F4;
        }
    }

}