.see-more-modal {
    .ant-modal-body {
        height: 550px;
    }
    .sub-element {
        margin-top: 20px;
    }
    .device-list-map-button{
        background-color: #F4F4F4 !important;
        color: #333333;
        padding: 5px 10px !important;
        min-height: 35px;
        svg {
            width: 21px;
            height: 21px;
            margin-right: 5px;
        }
    }
    .ant-row {
        height: 550px !important;
    }
}

