/* Login Form */
.vfsm-login-page-wrapper{

    margin-left: auto;
    margin-right: auto;

    .vfsm-login-form-first-visit-content{
        color: #4B4D4E;
        font-family: Vodafone;
        font-size: 30px;
        text-align: center;
    }
    
    .vfsm-login-page-header-wrapper{
        width: 100%;
        height: 130px;
        background-color: #F4F4F4;
        border-bottom: 1px solid #C82C1F;
        display: flex;
        justify-content: center;

        .vfsm-login-form-first-visit-title{
            height: 29px;
            width: 179px;
            color: #4B4D4E;
            font-family: Vodafone;	
            font-size: 40px;
            padding-top: 36px;
            //font-weight: 300;
           // line-height: 35px;
        }

        .sidebar-logo{
            padding-top: 46px;
            img{
                height: 43px;
                background-color: #F4F4F4;
            }
        }
    
    }

    .vfsm-login-page-container-wrapper{
        .vfsm-login-form-first-visit-container{
            width: 100%;
            margin-top: 270px; 
            text-align: center;
            .vfsm-login-form-first-visit-button{
                display: flex;
                justify-content: center;
                .ant-btn.btn-general.ml-3{
                    height: 35px;
                    width: 121px;
                    border: 1px solid #F4F4F4;
                    background-color: #E50202;
                    span{
                        margin-top: 0px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

        .vfsm-login-title{
            h2{
                margin-left: auto;
                margin-right: auto;
                float: ce;
                color: blueviolet;
                margin-top: 140px;
                text-align: center;
            }
        }

        .vfsm-login-form-wrapper{
           // border: 1px dashed sandybrown;
            width: 35%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 130px;

            .vfsm-login-form-guid{
                text-align: center;
                span{
                    color: #4B4D4E;
                    font-family: Vodafone;
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 35px;
                }
            }

            .vfsm-login-form-dash{
                margin-top: 15px;
                height: 1px;
                width: 100%;
                background-color: #F4F4F4;
            }

            .vfsm-login-form{
                padding: 5px;
                margin-left: auto;
                margin-right: auto;
                .ant-btn.vfsm-login-form-button.ant-btn-primary{
                    height: 35px;
                }
                .vfsm-login-input {

                }
                
                .vfsm-login-form-forgot{
                    float: right;
                }
                .vfsm-login-form-button-box{
                    padding: 10px;
                    .btn-general{
                        display: inline-block;
                        text-align: center;
                        width: 35%;
                        height: 50px;
                        margin: 0px !important;
                        border: 1px solid #C4C4C4;
                        background-color: #E50202;
                        span{
                            color: #FFFFFF;
                            font-family: Vodafone;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 35px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    .btn-general:focus{
                        border: 1px solid rgb(209, 223, 224) !important;
                    }
                    a{
                        float: right;
                        color: #005BB3;
                        font-family: Vodafone;
                        font-size: 20px;
                        line-height: 35px;
                        padding-top: 7px;
                    }

                }
                .vfsm-checkbox-wrapper{
                    span{
                        color: #4B4D4E;
                        font-family: Vodafone;
                        font-size: 20px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
}


/* forgot password*/
.vfsm-fogotpassword-page-wrapper{

    margin-left: auto;
    margin-right: auto;

    .vfsm-fogotpassword-form-first-visit-content{
        color: #4B4D4E;
        font-family: Vodafone;
        font-size: 30px;
        text-align: center;
    }
    
    .vfsm-fogotpassword-page-header-wrapper{
        width: 100%;
        height: 130px;
        background-color: #F4F4F4;
        border-bottom: 1px solid #C82C1F;
        display: flex;
        justify-content: center;

        .vfsm-fogotpassword-form-first-visit-title{
            height: 29px;
            width: 179px;
            color: #4B4D4E;
            font-family: Vodafone;	
            font-size: 40px;
            padding-top: 36px;
            //font-weight: 300;
           // line-height: 35px;
        }

        .sidebar-logo{
            padding-top: 46px;
            img{
                height: 43px;
                background-color: #F4F4F4;
            }
        }
    
    }

    .vfsm-fogotpassword-page-container-wrapper{
        .vfsm-fogotpassword-form-first-visit-container{
            width: 100%;
            margin-top: 270px; 
            text-align: center;
            .vfsm-fogotpassword-form-first-visit-button{
                display: flex;
                justify-content: center;
                .ant-btn.btn-general.ml-3{
                    height: 35px;
                    width: 121px;
                    border: 1px solid #F4F4F4;
                    background-color: #E50202;
                    span{
                        margin-top: 0px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

        .vfsm-fogotpassword-title{
            h2{
                margin-left: auto;
                margin-right: auto;
                float: ce;
                color: blueviolet;
                margin-top: 140px;
                text-align: center;
            }
        }

        .vfsm-fogotpassword-form-wrapper{
           // border: 1px dashed sandybrown;
            width: 35%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 130px;

            .vfsm-fogotpassword-form-guid{
                text-align: center;
                display: grid;
                span{
                    color: #4B4D4E;
                    font-family: Vodafone;
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 35px;
                }
            }

            .vfsm-fogotpassword-form-dash{
                margin-top: 15px;
                height: 1px;
                width: 100%;
                background-color: #F4F4F4;
            }

            .vfsm-fogotpassword-form{
                padding: 5px;
                margin-left: auto;
                margin-right: auto;
                .ant-btn.vfsm-fogotpassword-form-button.ant-btn-primary{
                    height: 35px;
                }
                .vfsm-fogotpassword-input {

                }
                
                .vfsm-fogotpassword-form-forgot{
                    float: right;
                }
                .vfsm-fogotpassword-form-button-box{
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    .btn-general{
                        display: inline-block;
                        text-align: center;
                        width: 35%;
                        height: 50px;
                        margin: 0px !important;
                        border: 1px solid #C4C4C4;
                        background-color: #E50202;
                        span{
                            color: #FFFFFF;
                            font-family: Vodafone;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 35px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    .btn-general:focus{
                        border: 1px solid rgb(209, 223, 224) !important;
                    }
                    a{
                        float: right;
                        color: #005BB3;
                        font-family: Vodafone;
                        font-size: 20px;
                        line-height: 35px;
                        padding-top: 7px;
                    }

                }
                .vfsm-checkbox-wrapper{
                    span{
                        color: #4B4D4E;
                        font-family: Vodafone;
                        font-size: 20px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
}

/* Register */
.vfsm-register-wrapper{
    .vfsm-register-header{
        margin-top: 100px;

        .vfsm-register-title-wrapper{

            .vfsm-register-title{
                text-align: center;
                span{
                    color: #4B4D4E;
                    font-family: Vodafone;
                    font-size: 30px;
                }
            }
            .vfsm-register-gui{
                text-align: center;
                span{
                    color: #4B4D4E;
                    font-family: Vodafone;
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
    }

    .vfsm-register-container-wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        .vfsm-register-form-dash{
            margin-top: 15px;
            height: 1px;
            margin-left: 10px;
            margin-right: 10px;
            width: 97%;
            background-color: #F4F4F4;
        }
        
        .vfsm-register-form-button-box{
            float: right;
            padding: 10px;
            width: 35%;
            .btn-general{
                display: inline-block;
                text-align: center;
                width: 100%;
                height: 50px;
                margin: 0px !important;
                border: 1px solid #C4C4C4;
                background-color: #E50202;
                span{
                    color: #FFFFFF;
                    font-family: Vodafone;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 35px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .btn-general:focus{
                border: 1px solid rgb(209, 223, 224) !important;
            }
            a{
                float: right;
                color: #005BB3;
                font-family: Vodafone;
                font-size: 20px;
                line-height: 35px;
                padding-top: 7px;
            }

        }
    }
    .vfsm-register-login-button{
        margin-right: auto;
        margin-left: auto;
        margin-top: 52px;
        width: 35%;
        .ant-btn.btn-general.ml-3{
            justify-content: center;
            text-align: center;
            width: 80%;
            background-color: #E50202;
            span{
                text-align: center;
                font-size: 20px;
            }
        }
    }
}

/* VFSM Footer */

.vfsm-page-footer-wrapper{
    display: grid;
    text-align: center; 
    color: #4B4D4E;
    font-family: Vodafone;
    position: fixed;
    left: 0px;
    bottom: 30px;
    width: 100%;
    .vfsm-page-footer-contact{
        font-size: 20px;
        font-weight: bold;
    }

    .vfsm-page-footer-humax{
        font-size: 13px;
        font-weight: 300;
    }

}