* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Vodafone';
    overflow:hidden;
}


table {
    width:100%;
    border: 1px solid #F1F1F1;
    border-collapse: collapse;

    tbody {
        tr:nth-child(odd){
            border-top: 1px solid #F1F1F1;
        }
        
        tr:nth-child(even) {
            background-color: #FDFDFD;
            border-top: 1px solid #F1F1F1;
        }
    } 

    th, td {
        padding: 10px 20px;
    }
    th {
        color: #2D3B58;
        background-color: #F8FAFF;
        font-size: 15px;
        text-align: left;
    }
    
    td {
        font-size: 13px;
        color: #666;
    }

}
