.ant-table-tbody > tr {
    border: 1px solid #F1F1F1;
    background-color: #FFFFFF !important;
}
.ant-table-thead > tr > th {
    font-weight: bold;
    color: #2D3B58;
    background-color: #F8FAFF;
    font-size: 15px;
    text-align: left;
}
.ant-table {
    font-family: 'Vodafone';
}