.device {
    padding: 7px;
    padding-bottom: 12px;
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    position: relative;

    .device-text {
        display: block;
        color: #999999;	
        font-size: 14px;
    }

    .device-avatar {
        margin-top: 24px;
        padding-right: 20px;
        display: flex;
    }

    .device-avatar-root-child {
        cursor: pointer;
        margin-left: 5px;
        .ant-avatar {
            height: 62px !important;
            width: 56px !important;
        }
    }
    .device-avatar-sub-child {
        cursor: pointer;
        margin-left: 5px;
        margin-top: 5px;
        .ant-avatar {
            height: 54px !important;
            width: 45px !important;
        }
    }
    .small-select-wapper {
        position: absolute;
        bottom: 0;
        right: 5px;
        svg {
            height: 11px;
            width: 25px;
        }
    }
}