
#device-detail-col-map{
    position: absolute;
    height: 76px;
    width: 25%;
    padding-top: 25px; 
    top: 0px;
    border: 1px solid #E3E3E3;
    background-color: #F4F4F4;
}
.vfsm-device-status-low-battery{
    color: #e20000;
}