@model hmx.vodafone.web.Models.AdminUserViewModels.AdminUserUpdateViewModel

@{
    ViewData["Title"] = "Edit";
    bool isAdmin = (bool)ViewData["IsAdminUser"];
}

<h2>Edit</h2>

<h4>After you change the roles, user whose roles have been changed must login again.</h4>
<hr />
<div class="row">
    <div>@Html.DisplayNameFor(model => model.Roles)</div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @for (var i = 0; i < Model.Roles.Count; i++)
            {
                if(Model.Roles[i].Text == "Admin" && !isAdmin)
                {
                    <div class="input-group">
                        <input type="checkbox" asp-for="@Model.Roles[i].Checked" disabled/>
                        <input type="hidden" asp-for="@Model.Roles[i].Text" disabled/>
                        <input type="hidden" asp-for="@Model.Roles[i].Value" disabled/>
                        <label asp-for="@Model.Roles[i].Checked">@Model.Roles[i].Text</label>
                    </div>
                }
                else
                {
                    <div class="input-group">
                        <input type="checkbox" asp-for="@Model.Roles[i].Checked"/>
                        <input type="hidden" asp-for="@Model.Roles[i].Text" />
                        <input type="hidden" asp-for="@Model.Roles[i].Value" />
                        <label asp-for="@Model.Roles[i].Checked">@Model.Roles[i].Text</label>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
