
.model-detail-header{
    height: 110px;
    .model-detail-header-button{
        float: right;
        margin-top: 30px;
        button.ant-btn.btn-general{
            border: 1px solid #B23737 ;
            color: #B23737 ;
            background-color: #FFFFFF ;
        }
        button.ant-btn.ant-btn.btn-general:hover{
            background-color: #40a9ff !important;
        }
    }
    .model-detail-add-new{
        button{
            margin: 0px;
            margin-top: 20px;
            float: left;
            margin-top: 30px;
        }
    }
}
.model-detail-container{
    border: 1px solid #EDEDED;
    .model-detail-title{
        height: 55px;
        background-color: #F4F4F4;
        border: 1px solid #F1F1F1;
        .model-detail-title-constant{
            margin-top: 12px;
            margin-left: 30px;
            font-weight: bold;
            color: #4B4D4E;
            font-family: Vodafone;
            font-size: 20px;
        }
        .model-detail-title-dash{
            height: 2px;
            background-color: #C82C1F;
            margin-top: 10px;
        }
    }
    .model-detail-button-option{
        margin-top: 20px;
        height: 70px;
        .model-detail-button-option-action{
            height:63px;
        }
        .model-detail-button-option-footer{
            height: 7px;
            background-color: #B23737;
        }
    }
    .model-detail-constant{
        .ant-table-tbody .ant-form-item-children input.ant-input {
            width: 100% !important;
        }
    }
}
#model-detail-constant-MC60{
    .ant-table-tbody > tr {
        border: 1px solid #F1F1F1;
        background-color: #FFFFFF ;
        > td:nth-child(2) {
            text-align: left ;
            padding-left: 50px;
        }
        > td:nth-child(5) {
            text-align: left ;
            padding-left: 50px;
        }
    }
}
#model-detail-constant-bracelet{
    .ant-table-tbody > tr {
        border: 1px solid #F1F1F1;
        background-color: #FFFFFF ;
        > td:nth-child(4) {
            text-align: left ;
            padding-left: 50px;
        }
    }
}
.ant-switch.ant-switch-checked.ant-switch-disabled {
    background-color: #B23737;
}