@model hmx.vodafone.web.Models.DBModels.VodafoneDevice

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Vodafone Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="DeviceId" />
            <div class="form-group">
                <label asp-for="DeviceVersion" class="control-label"></label>
                <input asp-for="DeviceVersion" class="form-control"/>
                <span asp-validation-for="DeviceVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChipsetVersion" class="control-label"></label>
                <input asp-for="ChipsetVersion" class="form-control"/>
                <span asp-validation-for="ChipsetVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <input asp-for="ModelId" class="form-control" />
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceUid" class="control-label"></label>
                <input asp-for="DeviceUid" class="form-control" />
                <span asp-validation-for="DeviceUid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsInit" /> @Html.DisplayNameFor(model => model.IsInit)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Battery" class="control-label"></label>
                <input asp-for="Battery" class="form-control" />
                <span asp-validation-for="Battery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusLevel" class="control-label"></label>
                <input asp-for="StatusLevel" class="form-control" />
                <span asp-validation-for="StatusLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnServerIp" class="control-label"></label>
                <input asp-for="ConnServerIp" class="form-control" />
                <span asp-validation-for="ConnServerIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelId" class="control-label"></label>
                <input asp-for="ChannelId" class="form-control" />
                <span asp-validation-for="ChannelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivatedDate" class="control-label"></label>
                <input asp-for="ActivatedDate" class="form-control" />
                <span asp-validation-for="ActivatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Activated" /> @Html.DisplayNameFor(model => model.Activated)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InactivatedDate" class="control-label"></label>
                <input asp-for="InactivatedDate" class="form-control" />
                <span asp-validation-for="InactivatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandLine" class="control-label"></label>
                <input asp-for="LandLine" class="form-control" />
                <span asp-validation-for="LandLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" disabled />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
